body {
    width: 800px;
    margin: auto;
}

header {
    clear: both;
}

header h1 {
    float: left;
    padding: 1em;
}

header img {
    float: left;
    margin-left: 2cm;
    padding: 1cm;
    height: 5cm;
    width: auto;
}

/*
footer {
    padding: 1em;
}
*/